 

html{
    font-family: 'Josefin Sans', sans-serif;
    background-color: rgb(223, 255, 182) ;
}
header{
    background-image: url("https://image.freepik.com/foto-gratis/explosion-colores-happy-holi-polvo-fondo-explosion-polvo-color_36326-2774.jpg");
    height: 5vw;
    
    }
    header p{
        display: flex;
        flex-direction: row;
        margin-left: 14.5vw;
        margin-top: 2vw;
        font-weight: bold;
        font-size: larger;
        
    }
    a{
        text-decoration: none;
           }

   a:hover{
       background-color: slateblue;
   }

   section a{
    display: flex;
    flex-direction: row;
    
    width: 12vw;
    margin-top: 2vw;
    margin-left: 2.5vw;
    
       font-size: larger;
       color: black;
       background-color: cornsilk;
       padding: 0.3vw;
       border-radius: 10px;
       text-align: center;
   }

    section{
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 9vw;
        height: 30vw;
        width: 50vw;
        text-align: justify;
        

        
    }

    
    article {
        display: flex;
             
        background-color:plum;
        height: 8vw;
        width: 15vw;
        opacity: 0.9;
        border-radius: 15px;
        padding: 1.5vw;
        
    }
    
    article p{
        display: flex;
        flex-direction: row;
        width: 80%;
        margin-left: 1vw;
        margin-top: 1vw;
        text-align: start;
        
}
        
   img{
        width: 15px;
            }

    main{
        width: 35%;
        height: 80%;
        display: flex;
        flex-direction: column;
        
        margin-left: 32vw;
        margin-top: 3vw;
        margin-bottom: 3vw;
        background-image: url("https://image.freepik.com/free-vector/question-mark-pattern_1319-109.jpg");
        
            
            }
    


footer {
    background-image: url("https://image.freepik.com/foto-gratis/explosion-colores-happy-holi-polvo-fondo-explosion-polvo-color_36326-2774.jpg");
    height: 3vh;
    

    
}


@media only screen and (max-width: 600px) {
     
    main{
        width: 90vw;
        height: 90vh;            
        margin: auto;              
            } 
    section{
        height: 95vh;
        width: 80vw;
        text-align: justify;}
    article {
                    
        height: 40vw;
        width: 50vw;
        margin-left: 30px;
                    
                }
    section a{
        margin-left: 65px;
        width: 100px;
       
    }

                
                           }

    footer {
        height: 60px;
         }

       header{
           height: 60px;
       }  
       header p{
        padding: 5vw;
        padding-left: 20vw;
        font-weight: bold;
        font-size: larger;
  }     